.About {

    background-color: #ff8fab;
    height: 100vh;

    .para-text {
        padding-top: 200px;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        user-select: none;
        color: #1b263b;

    }

}